#upperBox{
	-fx-border-color: #00b300 #00b300 #00b300 #00b300;
	-fx-border-width: 10px 10px 0px 10px;
	-fx-pref-width: 640px;  /* SD video resolution */
	-fx-pref-height: 50px; /* SD video resolution */
	-fx-min-height: 50px;
	-fx-background-color: black;
	-fx-spacing:10px;
	-fx-alignment: center;
}
#mainGameBox{
	-fx-pref-width: 640px;  /* SD video resolution */
	-fx-pref-height: 430px; /* SD video resolution */
}
#boardPane{
	-fx-background-color: black;
	-fx-min-width: 640px;  /* SD video resolution */ /* snake starts at X350 Y300 (head) */
	-fx-min-height: 430px; /* SD video resolution */
	-fx-border-width: 10px;
	-fx-border-color: #00b300 #00b300 #00b300 #00b300;
}
#player{
	-fx-font-size:20px;
	-fx-padding:5 10 10 10;
	-fx-fill:#00e600;
}
#score{
	-fx-font-size:20px;
	-fx-padding:5 10 10 10;
	-fx-fill:#00e600;
}
#bestScore{
	-fx-font-size:20px;
	-fx-padding:5 10 10 10;
	-fx-fill:#00e600;
}
#preMenuBox{
	-fx-pref-width: 640px;  /* SD video resolution */
	-fx-pref-height: 480px; /* SD video resolution */
	-fx-alignment: center;
	-fx-spacing:10px;
	-fx-padding:0 10 10 10;
	-fx-border-color: #00b300 #00b300 #00b300 #00b300;
	-fx-border-width: 10px 10px 10px 10px;
	-fx-background-color: black;
}
#welcome{
	-fx-font-size:25px;
	-fx-font-weight:bold;
	-fx-padding:5 10 10 10;
	-fx-fill:#00b300;
}
#nickLong{
	-fx-font-size:10px;
	-fx-padding:5 10 10 10;
	-fx-fill:#00b300;	
}
#buttonMenu{
	-fx-background-color: #00b300;
	-fx-text-fill: white;
	-fx-padding: 15 30 15 30;
	-fx-font-size: 18px;
}
#nicknameField{
	-fx-border-color: #00b300 #00b300 #00b300 #00b300;
	-fx-border-width: 5px 5px 5px 5px;
}
#lostMenuBox{
	-fx-max-width: 150px;
	-fx-max-height: 150px;
	-fx-alignment: center;
	-fx-spacing:10px;
	-fx-padding:0 10 10 10;
	-fx-border-color: #00b300 #00b300 #00b300 #00b300;
	-fx-border-width: 10px 10px 10px 10px;
	-fx-background-color: black;
}
#buttonLost{
	-fx-background-color: #00b300;
	-fx-text-fill: white;
	-fx-padding: 15 15 15 15;
	-fx-font-size: 15px;
}