#upperBox{
	-fx-border-color: #00b300 #00b300 #00b300 #00b300;
	-fx-border-width: 10px 10px 0px 10px;
	-fx-pref-width: 640px;  /* SD video resolution */
	-fx-pref-height: 50px; /* SD video resolution */
	-fx-min-height: 50px;
	-fx-background-color: black;
	-fx-spacing:10px;
	-fx-alignment: center;
}
#mainGameBox{
	-fx-pref-width: 640px;  /* SD video resolution */
	-fx-pref-height: 430px; /* SD video resolution */
	-fx-background-color: purple;
}
#boardPane{
	-fx-background-color: black;
	-fx-min-width: 640px;  /* SD video resolution */ /* snake starts at X350 Y300 (head) */
	-fx-min-height: 430px; /* SD video resolution */
	-fx-border-width: 10px;
	-fx-border-color: #00b300 #00b300 #00b300 #00b300;
}
#player{
	-fx-font-size:20px;
	-fx-padding:5 10 10 10;
	-fx-fill:#00e600;
}
#score{
	-fx-font-size:20px;
	-fx-padding:5 10 10 10;
	-fx-fill:#00e600;
}
#bestScore{
	-fx-font-size:20px;
	-fx-padding:5 10 10 10;
	-fx-fill:#00e600;
}
#preMenuBox{
	-fx-pref-width: 640px;  /* SD video resolution */
	-fx-pref-height: 480px; /* SD video resolution */
	-fx-alignment: center;
	-fx-spacing:10px;
}
#lostMenuBox{
	-fx-max-width: 150px;
	-fx-max-height: 150px;
	-fx-alignment: center;
	-fx-spacing:10px;
	-fx-fill:#00e600;
	-fx-background-color: purple;
}